.top {
   /* font-family: Segoe UI, sans-serif;
    font-size: 110%;*/
    margin: 22px;
    margin-top: -17px;
    margin-left: -17px;
    width: 737px;
    height: 127px;
    background-color: #788f58;
    padding-top: 6px;
    padding-left: 15px;
    text-align: center;
    color: white
} 

.left{
    float: left;
    text-align: right;
    width: 45%;
}

.right{
    float: right;
    text-align: left;
    width: 45%;
}

.vert_line{
    width: 1px;
    height: 880px;
    background-color: #999999;
    margin: auto;
}

.line1{
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: #999999;
    top: 204px;
    left:376px;
}

.line2{
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #999999;
    top: 348px;
    left:397px;
}

.line3{
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #999999;
    top: 390px;
    left:377px;
}

.line4{
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #999999;
    top: 554px;
    left:377px;
}

.line5{
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #999999;
    top: 613px;
    left:397px;
}

.line6{
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #999999;
    top: 879px;
    left:377px;
}

.dot1{
    position: absolute;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #788f58;
    top: 200px;
    left:392px; 
}

.dot2{
    position: absolute;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #788f58;
    top: 344px;
    left:392px; 
}

.dot3{
    position: absolute;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #788f58;
    top: 386px;
    left:392px; 
}

.dot4{
    position: absolute;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #788f58;
    top: 550px;
    left:392px; 
}

.dot5{
    position: absolute;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #788f58;
    top: 609px;
    left:392px; 
}

.dot6{
    position: absolute;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #788f58;
    top: 875px;
    left:392px; 
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 a:link {
    color: black;
    text-decoration:none;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-decoration:underline;
}

a:active {
    color: rgb(255, 105, 138);
}

/* For Chrome or Safari */
progress::-webkit-progress-bar {
    background-color: #eeeeee;
}

progress::-webkit-progress-value {
    background-color: #788f58 !important;
}


/* For Firefox */
progress {
    background-color: #eee;
}

progress::-moz-progress-bar {
    background-color: #788f58 !important;
}

/* For IE10 */
progress {
    background-color: #eee;
}

progress {
    background-color: #788f58 !important;
}

@media screen and (max-width: 600px){

}